
body {
    background: darkslategrey
}

h1 {
    color: white
}

h1 {
    font-family: Arial, serif
}

h1 {
    font-size: 300%
}

p {
    color: white
}

p {
    font-family: Arial, serif
}

p {
    font-size: 150%
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

pre {
    color: white
}

pre {
    font-family: Arial, serif
}

pre {
    font-size: 150%
}

